body {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3 {
    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 32px;
}

table, td, th {
    border: 1px double black;
}

.image {
    float: right;
    margin: 12px 12px 12px 12px;
    font-style: italic;
}